In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("sqlite_db_pythonsqlite.db")
c = conn.cursor()

In [3]:
q10_query = """SELECT sub.name, SUM( sub.revenue ) AS revenue
FROM (
SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT( b.facid ) AS facid_count,
CASE
WHEN b.memid =0
THEN COUNT( b.facid ) * f.guestcost
ELSE COUNT( b.facid ) * f.membercost
END AS 'revenue'
FROM Bookings AS b
JOIN Facilities AS f ON b.facid = f.facid
GROUP BY b.facid, b.memid
) AS sub
GROUP BY sub.facid
HAVING revenue <=1000"""

In [5]:
ans_10 = [row for row in c.execute(q10_query)]
ans_10

[('Badminton Court', 604.5),
 ('Table Tennis', 90),
 ('Snooker Table', 115),
 ('Pool Table', 265)]

In [6]:
q11_query = """SELECT m.surname, m.firstname, m.recommendedby AS recomender_id, r.surname, r.firstname
FROM Members AS r
JOIN Members AS m ON m.recommendedby = r.memid
WHERE m.recommendedby !=0
ORDER BY r.surname, r.firstname
"""

In [7]:
for row in c.execute(q11_query):
    if row[3] != None:
        print(row)

('Sarwin', 'Ramnaresh', '15', 'Bader', 'Florence')
('Coplin', 'Joan', '16', 'Baker', 'Timothy')
('Genting', 'Matthew', '5', 'Butters', 'Gerald')
('Baker', 'Timothy', '13', 'Farrell', 'Jemima')
('Pinker', 'David', '13', 'Farrell', 'Jemima')
('Rumney', 'Henrietta', '20', 'Genting', 'Matthew')
('Jones', 'Douglas', '11', 'Jones', 'David')
('Dare', 'Nancy', '4', 'Joplette', 'Janice')
('Jones', 'David', '4', 'Joplette', 'Janice')
('Hunt', 'John', '30', 'Purview', 'Millicent')
('Boothe', 'Tim', '3', 'Rownam', 'Tim')
('Joplette', 'Janice', '1', 'Smith', 'Darren')
('Butters', 'Gerald', '1', 'Smith', 'Darren')
('Owen', 'Charles', '1', 'Smith', 'Darren')
('Smith', 'Jack', '1', 'Smith', 'Darren')
('Mackenzie', 'Anna', '1', 'Smith', 'Darren')
('Worthington-Smyth', 'Henry', '2', 'Smith', 'Tracy')
('Purview', 'Millicent', '2', 'Smith', 'Tracy')
('Crumpet', 'Erica', '2', 'Smith', 'Tracy')
('Baker', 'Anne', '9', 'Stibbons', 'Ponder')
('Bader', 'Florence', '9', 'Stibbons', 'Ponder')
('Stibbons', 'Ponder', '6', 'Tracy', 'Burton')

Q12: Find the facilities with their usage by member but not guests

In [8]:
q12_query = """SELECT b.facid, COUNT( b.memid ) AS mem_usage, f.name
FROM (
SELECT facid, memid
FROM Bookings
WHERE memid !=0
) AS b
JOIN Facilities AS f ON b.facid = f.facid
GROUP BY b.facid"""

In [9]:
ans_12 = [row for row in c.execute(q12_query)]

Q13 Find the facilities usage by month but not guests

In [10]:
q13_query ="""SELECT b.months, COUNT( b.memid ) AS mem_usage
FROM (
SELECT strftime('%m', starttime ) AS months, memid
FROM Bookings
WHERE memid !=0
) AS b
GROUP BY b.months"""

In [11]:
ans_13 = [row for row in c.execute(q13_query)]
ans_13

[('07', 480), ('08', 1168), ('09', 1512)]